*doxygen*
temp
temp_file.txt
build/
repos/
build
~n2omatt/certs
~n2omatt/certs.html
~n2omatt/index.html
~n2omatt/journal/Output
~n2omatt/resume/Output
~n2omatt/lectures/Output
amazingcow_repos/
_Output/
projects_info/
intermediate/
public_html/
docs
repos
_output
