<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Amazing Cow</title>
    <link rel="icon" href="/favicon.ico" type="image/ico" />
    <style type="text/css">
        body {
            line-height:1.4;
            font-size:16px;
            color:#444;
        }
    </style>
</head>

<!-- Body -->
<body>

<!-- Menu  -->
<p align="center">
    <font size="+4">Amazing Cow</font><br/>
    <a href="http://github.com/AmazingCow/">[github]</a> --
    <a href="/docs/">[docs]</a> --
    <a href="/floss/">[floss]</a> --
    <a href="/contact">[contact]</a>
</p>

<p>
    We're working in site! There's a lot of stuff that are missing! <br>
    For a complete list of projects please checkout our
    <a href="http://github.com/AmazingCow">github</a>
</p>
<!-- ####################################################################### -->
<!-- Project List                                                            -->
<!-- ####################################################################### -->
<table width="100%" cellpadding="7" cellspacing="0" align="center" border="1">
    <!-- Left Column -->
    <tr>
        <td rowspan="4" valign="top">

        <!-- ############################################################### -->
        <!-- Games                                                           -->
        <!-- ############################################################### -->
        <p>
            <!-- Title -->
            <b>Games</b> - 1 project
            <br/>
            Our full fledged games, made with a lot of
            <font color="red">&#60&#51</font> -
            We hope that you enjoy!
            <br/>
        </p>

        <!-- List -->
        <ul>
            <!-- Memory - Amazing Cow! -->
            <li>
                <!-- Title -->
                <b>Memory - Amazing Cow!</b>
                <font size='-1'>
                     (<a href='https://play.google.com/store/apps/details?id=com.amazingcow.gamememory'>Google Play</a>)
                </font>
                <br/>

                <!-- Description -->
                <p>
                    <p>
                        An AMAZING and EYE CANDY Memory Game.
                    </p>
                    <p>
                        Simple, but really addict-able Memory is a puzzle game made for children  </br>
                        (But we found that adults felt in love with adorable
                        characters in game).
                    </p>
                    <p>
                        With 3 game challenging game modes and with a total of  <br/>
                        45 levels, you have 135 stars to collect!
                    </p>
                </p>
                <!-- Images -->
                <p>
                    <b>Images</b>:
                    <br>
                    <div id="header" style="width:600px;">
                        <!-- Images -->
                        <a href="https://play.google.com/store/apps/details?id=com.amazingcow.gamememory"><img src="./img/memory/1.png"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.amazingcow.gamememory"><img src="./img/memory/2.png"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.amazingcow.gamememory"><img src="./img/memory/3.png"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.amazingcow.gamememory"><img src="./img/memory/4.png"></a>
                        <a href="https://play.google.com/store/apps/details?id=com.amazingcow.gamememory"><img src="./img/memory/5.png"></a>
                    </div>
                </p>

                <!-- Reviews -->
                <p>
                    <b>Reviews:</b>
                    <br>
                    <ul>
                        <li><a href="https://webstuff.eti.br/jogos/">Web Stuff</a></li>
                    </ul>
                </p>

                <!-- Download -->
                <p>
                    <a href='https://play.google.com/store/apps/details?id=com.amazingcow.gamememory'>
                        Download in Google Play!
                    </a>
                </p>
            </li>
            <hr/>
        </ul>


        __TEMPLATE_PROCESS_PROJECTS___


        </td>
    </tr>
    <!-- End of Left Column -->

    <!-- ------------------------------------------------------------------- -->
    <!-- Right Column                                                        -->
    <!-- ------------------------------------------------------------------- -->
    <tr>
        <td valign="top">
        <p> __TEMPLATE_LIST_index/stores__  </p>
        <p> __TEMPLATE_LIST_index/contact__ </p>
        <p> __TEMPLATE_LIST_index/news__    </p>

        <!-- --------------------------------------------------------------- -->
        <!-- N2OMatt                                                         -->
        <!-- --------------------------------------------------------------- -->
        <p>
            <b>N2OMatt</b>
            <ul>
                <li> <a href="./n2omatt/">Site</a>
                <li> <a href="http://github.com/N2OMatt">Github</a>
            </ul>
        </p>
        <!-- End of N2OMatt -->

        </td>
    </tr>
    <!-- End of Right Column -->
</table>


<!-- ----------------------------------------------------------------------- -->
<!-- Made With Love <3                                                       -->
<!-- ----------------------------------------------------------------------- -->
<p align="center">
    Made with <3
</p>

</body>
</html>
